*{
    font-family: "Sedgwick Ave Display", serif;
}
main {
    flex: 1 calc(120vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
main h2{
    font-size: 4em;
    border-bottom: solid white thin;
    border-radius: 50px;
    width: 350px;
    margin-bottom: 0.25em;
}
@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}