*{
    text-align: -webkit-center;
    font-family: "Sedgwick Ave Display", serif;
}
body{
    background: #006e12 linear-gradient(0, #00a11c, #8d0000);
    /*background: #006e12 linear-gradient(to bottom,*/
    /*#00a11c, #137f86);*/
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{ color: darkturquoise; }