*{
    font-family: "Sedgwick Ave Display", serif;
}
body{
    background: #006e12 linear-gradient(0, #00a11c, #8d0000);
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
header {
    flex: 0 60px;
}
main {
    flex: 1 calc(145vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer {
    flex: 0 30px;
}
footer a {
    float: right;
    padding-right: 0.3em;
}
footer span {
    float: left;
    padding-left: 0.3em;
}
.navbar{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid white thin;
}
@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
    .top-players{
        position: relative; top: 0;
    }
}
#pile {
    width: 150px;
    height: 225px;
}

.player-info {
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    background-color: #fff5f1;
    border: black solid thin;
}
.left-players{
    position: absolute; left: 1px; top: 55vh;
}
.right-players{
    position: absolute; right: 1px; top: 55vh;
}
.top-players{
    position: relative; top: 1px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-info{
    margin-top: 80px;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    background-color: #fff5f1;
}
.game-info .important{
    -webkit-text-fill-color: #C00000FF;
}
.pile{
    margin-top: 100px;
}
.BS .btn{
    height: 60px;
    width: 200px;
    margin-bottom: 50px;
    margin-top: 25px;
}
form .btn{
    margin-top: 100px;
    margin-bottom: 50px;
    height: 40px;
    width: 120px;
}

#pile > li {
    position: absolute;
    text-align: left;
}
#hand {
    width: 150px;
    height: 225px;
}
#hand > li {
    position: absolute;
    text-align: left;
    transition-delay: 0.1s, 0.2s, 0.2s;
    transition: top 0.5s ease 0.1s, left 0.5s ease 0.2s, transform 0.5s ease 0.2s;
}
#hand > li:hover{
    cursor: pointer;
}
#hand > li.selected {
    left: 0;
    top: -30px;
    box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 30px rgba(255, 255, 200, 0.8);
}
#hand:last-child{

}
#pile:before, #hand:before, #pile:after, #hand:after {
    content: "";
    display: table;
}
#pile:after, #hand:after {
    clear: both;
}

#pile, #hand {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    margin: 5% auto 10%;
}
#pile > li, #hand > li {
    top: 0;
    left: 0;
    list-style: none;
    width: 12rem;
    height: 16.8rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.5), 0 0 3px #966432;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translateZ(0);
}

#pile > li[data-value],
#hand > li[data-value] {
    overflow: hidden;
}
#pile > li[data-value*='♣'][data-value],
#hand > li[data-value*='♣'][data-value],
#pile > li[data-value*='♠'][data-value],
#hand > li[data-value*='♠'][data-value] {
    color: #222;
}
#pile > li[data-value*='♦'][data-value],
#hand > li[data-value*='♦'][data-value],
#pile > li[data-value*='♥'][data-value],
#hand > li[data-value*='♥'][data-value] {
    color: #a00;
}
#hand > li[data-value]:before,
#hand > li[data-value]:after
{
    content: attr(data-value);
    width: 1em;
    position: absolute;
    font-size: 1.8em;
    line-height: 0.85em;
    margin-top: 4%;
    margin-left: 0;
}
#pile > li[data-value]:after,
#hand > li[data-value]:after {
    right: 0;
    bottom: 4%;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#pile > li[data-value] > P,
#hand > li[data-value] > P {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 4rem;
}
#pile > li[data-value] > P > SPAN:first-child,
#hand > li[data-value] > P > SPAN:first-child {
    display: none;
}
#pile > li:not([data-value]) > P {

}
#hand> li > P,
#pile > li > P {
    width: 90%;
    height: 92%;
    margin: 5% auto 0;
    background-image: url("http://www.titanui.com/wp-content/uploads/2013/01/Violet-Classical-Pattern-Background-1.jpg");
    background-position: center center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
#pile > li[data-value^='J'][data-value] > P,
#hand > li[data-value^='J'][data-value] > P,
#pile > li[data-value^='Q'][data-value] > P,
#hand > li[data-value^='Q'][data-value] > P,
#pile > li[data-value^='K'][data-value] > P,
#hand > li[data-value^='K'][data-value] > P,
#pile > li[data-value^='A'][data-value] > P,
#hand > li[data-value^='A'][data-value] > P,
#pile > li[data-value^='2'][data-value] > P,
#hand > li[data-value^='2'][data-value] > P,
#pile > li[data-value^='3'][data-value] > P,
#hand > li[data-value^='3'][data-value] > P,
#pile > li[data-value^='4'][data-value] > P,
#hand > li[data-value^='4'][data-value] > P,
#pile > li[data-value^='5'][data-value] > P,
#hand > li[data-value^='5'][data-value] > P,
#pile > li[data-value^='6'][data-value] > P,
#hand > li[data-value^='6'][data-value] > P,
#pile > li[data-value^='7'][data-value] > P,
#hand > li[data-value^='7'][data-value] > P,
#pile > li[data-value^='8'][data-value] > P,
#hand > li[data-value^='8'][data-value] > P,
#pile > li[data-value^='9'][data-value] > P,
#hand > li[data-value^='9'][data-value] > P,
#pile > li[data-value^='10'][data-value] > P,
#hand > li[data-value^='10'][data-value] > P
{
    width: 65%;
    height: 80%;
    left: 50%;
    margin-left: 33px;
    margin-top: 25px;
    color: transparent;
    border: 1px solid #000;
    background-position: center;
    background-size: cover;
}
