*{
    font-family: "Sedgwick Ave Display", serif;
}
body{
    background: #006e12 linear-gradient(0, #00a11c, #8d0000);
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
header {
    flex: 0 80px;
}
header menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
main h2{
    font-size: 4em;
    border-bottom: solid white thin;
    border-radius: 50px;
    width: 350px;
    margin-bottom: 0.25em;
}
footer {
    flex: 0 30px;
}
footer a {
    float: right;
    padding-right: 0.3em;
}
footer span {
    float: left;
    padding-left: 0.3em;
}
.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid white thin;
}
menu .nav-item {
    padding: 0 0.3em;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}